*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-size: 18px;
}

    



/* Header */
header{
    background-color: #788bff;
    display: flex;
    justify-content: left;
}

/* end of Header */


/* main */
/* hero */
.hero{
    height: 100%;
    min-height: 100vh;
    background-color: #788bff ;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.heroBlocks{
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: top;
    gap: 40px;
}

.heroText{
    order:2;
    width: 100%;
    text-align: center;
    align-items: center;
}

.heroText h1{
    font-size: 40px;
    margin-bottom: 10px;
    
}

.heroText p{
    font-size: 22px;
}

.heroButton{
    color: white;
    font-weight: 600;
    background-color: #4cc9f0;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 40px 0;
    cursor: pointer;
    text-align: center;
}

.heroButton:hover{
    background-color: #f72585;
}


.heroImage{
    order:1;
    width: 100%;
    max-width: 750px;
}


@media (min-width:1000px){
    .heroBlocks{
        flex-direction: row;
        justify-content: center;
    }
    .heroText{
        order: 1;
        text-align: left;
        align-items: left;
    }
    .heroImage{
        order:2;
    }
}

/* end of hero */

/* about */
.about{
    height: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.aboutBlocks{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.aboutBlock{
    
    max-width: 350px;
    background-color: #F7F7F8;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.aboutBlock p{
    padding: 20px 0;
}

.aboutBlock h3{
    font-size: 30px;
}

@media (min-width:1000px){
    .aboutBlocks{
        max-height: 380px;
        flex-direction: row;
    }
}


/* end of about */

/* Contact form */

/* .contact{
    max-width: 550px;
    min-width: 450px;
    width: 50%;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 40px;
    font-size: 16px;
}

.contactLabel{
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.nameForm{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    background-color: #F7F7F8;
    border-radius: 10px;
}

.phoneForm{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #F7F7F8;
    border-radius: 10px;
}

.messageForm{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #F7F7F8;
    border-radius: 10px;
    resize: vertical;
}

.sendForm{
    border: none;
    padding: 15px 50px;
    background-color: #788bff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.sendForm:hover{
    background-color: #5465ff;
}

.nameLabel{
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.phoneLabel{
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.messageLabel{
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
} */

/* end of contact form*/

/* end of main */






/* footer */
footer{
    height: 300px;
    background-color: #F7F7F8;
}
/* end of footer */