*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    font-size: 16px;
}



/* Header */
header{
    background-color: #788bff;
    display: flex;
    justify-content: left;
}

/* end of Header */


/* main */
/* home */
.home{
    background-color: #788bff;
    min-height: 750px;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.welcomeBlocks{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}


.welcomeText{
    max-width: 500px;
    order: 1;
    font-size: xx-large;
}

@media (min-width:1000px){
    .welcomeBlocks{
        flex-direction: row;
    }
}

.welcomeButton{
    border: none;
    color: white;
    background-color: #3f37c9;
    padding: 20px 50px ;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
}

.welcomeButton:hover{
    background-color: #322ca4;
}

/* end of home */

/* about */
.about{
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.aboutBlocks{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.aboutBlock{
    max-width: 350px;
    background-color: #F7F7F8;
    border: none;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
}

.aboutBlock p{
    padding: 20px 0;
}

.aboutBlock h3{
    font-size: 30px;
}

@media (min-width:1000px){
    .aboutBlocks{
        flex-direction: row;
    }
}


/* end of about */

/* Contact form */

/* .contact{
    max-width: 550px;
    min-width: 450px;
    width: 50%;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 40px;
    font-size: 16px;
}

.contactLabel{
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.nameForm{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    background-color: #F7F7F8;
    border-radius: 10px;
}

.phoneForm{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #F7F7F8;
    border-radius: 10px;
}

.messageForm{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #F7F7F8;
    border-radius: 10px;
    resize: vertical;
}

.sendForm{
    border: none;
    padding: 15px 50px;
    background-color: #788bff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.sendForm:hover{
    background-color: #5465ff;
}

.nameLabel{
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.phoneLabel{
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.messageLabel{
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
} */

/* end of contact form*/

/* end of main */






/* footer */
footer{
    height: 300px;
    background-color: #F7F7F8;
}
/* end of footer */