*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
}





/* Header/nav bar */
header{
    background-color: #788bff;
    padding: 0 10%;
    display: flex;
    justify-content: center;
}

/* end of header */


/* main */
/* home */
.home{
    background-color: #788bff;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
}

/* end of home */


/* Contact form */
/* .contact{
    max-width: 550px;
    min-width: 450px;
    width: 50%;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 40px;
    font-size: 16px;
}

.contactLabel{
    display: block;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.nameForm{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc; 
    background-color: #F7F7F8;
    border-radius: 10px;
}

.phoneForm{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #F7F7F8;
    border-radius: 10px;
}

.messageForm{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    background-color: #F7F7F8;
    border-radius: 10px;
    resize: vertical;
}

.sendForm{
    border: none;
    padding: 15px 50px;
    background-color: #788bff;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}

.sendForm:hover{
    background-color: #5465ff;
}

.nameLabel{
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.phoneLabel{
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.messageLabel{
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
} */
/* end of contact form*/



/* footer */
footer{
    height: 300px;
    background-color: #F7F7F8;
}
/* end of footer */