<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>TechTinkerers</title>
</head>
<body>
    <header>
        <nav>
            <img src="" alt="">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <div class="main">
        <div class="home">
            <div class="contact">
                <form action="" class="contactForm">
                    <label for="contactus" class="contactLabel">Contact Us</label>

                    <label for="name" class="nameLabel">Name</label>
                    <input type="text" class="nameForm" required>

                    <label for="phone" class="phoneLabel">Phone</label>
                    <input type="phone" class="phoneForm" required>

                    <label for="message" class="messageLabel">Message</label>
                    <input type="text" class="messageForm">

                    <input type="submit" value="Send" class="sendForm">
                </form>
            </div>
        </div>

        <div class="about">
            <div class="aboutContainer">
                <div class="aboutBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quo fugiat sapiente illo explicabo optio doloremque, eaque ex architecto veniam autem. Amet, reprehenderit repellendus. Repudiandae ipsum perferendis quo quod modi.</div>
                <div class="aboutBox">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod, aliquam.</div>
                <div class="aboutBox">Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet harum laborum nihil quod sunt consectetur esse sed! Cum ab ducimus doloremque omnis dolore enim debitis unde magni dicta, quis commodi!</div>
            </div>
        </div>
    </div>
    
    <footer></footer>
</body>
</html>